body{
    display: flex;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    background-image: url('https://i.imgur.com/zRLEX3c.jpg');
    background-size: cover; 
    font-weight: 700;
    line-height: 3.2em;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(69, 79, 89, .5);
    width: 50%;
    margin-top: 2em;
    border-radius: .8em;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
nav{
    font-size: .5em;
}
img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
h1{
    font-size: 8em;
    
    
    text-decoration: underline;
    color:rgba(143, 169, 78);
    -webkit-text-stroke: 1px white;
    
}
h1, h2{
    font-weight: 700; 
    /* margin-bottom: .5em; */
    line-height: 1em;
    color:rgba(143, 169, 78);
    -webkit-text-stroke: 1px white;
    
}
h2{
    
    font-size: 4em;
}
a, p{
    color: rgba(143, 169, 78);
}
a:hover{
    color: rgba(253, 242, 143)   
}

.navbar-menu{
    padding: 0 .2em;
    background-color: rgba(69, 79, 89);
    width: 100vw;
}
.navbar-item{
    font-size: 4em;
}
.navbar-dropdown .navbar-item{
    font-size: 2em;
}
.card{
    width: 40%;
    margin: 2em 0;
    border-radius: 1.5em;
    border: .5em solid rgba(143, 169, 78, .6);
}
.content{
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    margin: 0 .3em;
}
#suggestion-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    font-family: 'Amatic SC', cursive;
    font-size: 10em;
    padding: 0; 
    
}
label{
    font-size: .8em;
    margin: 0 auto;
    color:rgba(143, 169, 78);
    line-height: 0;
}
.card-header{
    display: flex;
    justify-content: center;
    background-color: rgba(253, 242, 143, .8);
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
}
.card-header h2{
    margin: .2em 0;
}
.suggestion-form{
    width: 75%;
}
.submit{
    display: flex;
    justify-content: flex-end;
    margin: .2em 0;
}

    

