body{
    display: flex;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    background-image: url('https://i.imgur.com/zRLEX3c.jpg');
    background-size: cover; 
    font-weight: 700;
    line-height: 3.2em;
    align-items: center;
    min-height: 60em; 
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(69, 79, 89, .5);
    width: 50%;
    margin-top: 2em;
    border-radius: .8em;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%
}

img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.cart-image{
    border-radius: .5em;
    margin-top: .5em;
}
.order-image{
    border-radius: .5em;
    margin-top: .8em;
}

h1{
    font-size: 5em;
    margin-top: 1em;
    color: rgba(253, 242, 143);
}
header h1{
    font-size: 8em;
    margin-top: 0;
    text-decoration: underline;
    color:rgba(143, 169, 78);
}

h1, h2{
    font-weight: 700; 
    line-height: 1em;
    -webkit-text-stroke: 1px white;  
}
h2{ 
    font-size: 4em;
    color:rgba(143, 169, 78); 
}
h3, .order-status{
    color:rgba(143, 169, 78);
    font-size: 1.5em;
    line-height: 2em;
}

.cake-price h3{
    font-size: 3em;
    color: rgba(253, 242, 143);   
}

.cake-name{
    color: rgba(143, 169, 78);
    font-size: 3em;
}
p{
    color: rgba(143, 169, 78);
    font-size: 1.5em;
    text-align: justify;
    line-height: 1em;
    margin: 0;
}
.cake-price{
    display: flex;
    align-items: center;
    padding: 0 1em;
}

a:hover{
    color: rgba(253, 242, 143)   
}

.navbar-menu{
    padding: 0 .2em;
    background-color: rgba(69, 79, 89);
    width: 100vw;
}
.navbar{
    font-size: 1em;
}
.navbar-item{
    font-size: 2em;
}
.card{
    width: 35%;
    margin: 2em 0;
    border-radius: 1.5em;
    border: .5em solid rgba(143, 169, 78, .6);
}
.order-cards{
    width: 23em;
    margin: 2em 2em;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5em;
}
.cake-list    {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
}
.orders{
    margin:0 1em 0 0;
}
input{
    font-family: 'Amatic SC', cursive;
    font-size: 10em;
    padding: 0; 
    margin-bottom: .8em;
}
textarea{
    font-family: 'Amatic SC', cursive;
}
label{
    color:rgba(143, 169, 78);
    font-size: 2em;
    margin-top: 1em;
}
.shopping-cart{
    font-size: 1.5em;
    margin: 0;
    line-height: 1em;
}
.total-cost{
    width: 20em;
    height: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-header{
    display: flex;
    justify-content: center;
    background-color: rgba(253, 242, 143, .8);
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    margin-bottom: 1.5em;
    padding: 1em 0 3em 0;
}
.card-header{
    display: flex;
    justify-content: center;
    background-color: rgba(253, 242, 143, .8);
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    margin-bottom: 1.5em;
    padding: 1em 0 1em 0;
}
.shopping-header{
    display: flex;
    justify-content: center;
    background-color: rgba(253, 242, 143, .8);
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    margin-bottom: 1.5em;
    padding: 1em 0 3em 0;
}
.suggestion-form{
    width: 85%;
}
.submit{
    display: flex;
    justify-content: flex-end;
    margin-top: .4em;
}
.card-content{
    padding: .3em 1.5em .5em 1.5em;
}
.submit-order{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
}
.order-info{
    margin-bottom: 1.5em;
}
    

