<main>
    {{#each cakes}}
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
                <img src="{{image}}" alt="">
            </figure>
        </div>
        <div class="cake-list card-content">
            <a class="cake-name" href="/cakes/{{_id}}">{{name}}</a>
            <p class="cake-name">${{price}}</p>
        </div>
    </div>
    {{/each}}

    <div class="card">
        <div class="card-header">
            <h2>Make a Cake Suggestion</h2>
        </div>
        <div class="form card-content">
            <form action="/" method="POST" class="suggestion-form">

                <label for="customerName">Name</label>
                <input class="input is-medium is-rounded is-warning" type="text" name="customerName">


                <label for="customerEmail">Email</label>
                <input class="input is-medium is-rounded is-warning" type="text" name="customerEmail">


                <label for="idea">Idea</label>
                <textarea class="textarea is-medium is-warning" name="idea" cols="30" rows="3"></textarea>

                <div class="submit">
                    <input class="button is-rounded" type="submit" value="Save Suggestion">
                </div>
            </form>
        </div>
    </div>
</main>